<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <!--收藏夹清单-->
  <ion-list>
    <ion-list-header class="dir-header">收藏夹</ion-list-header>
    <ion-item-sliding *ngFor="let item of currentItems">
      <div *ngIf="item.type == 0">
        <button ion-item (click)="openItem(item)" >
          <ion-avatar item-start>
            <img [src]="item.profilePic" />
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <h3>{{item.about}}</h3>
          <p>总额：213</p>
          <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </button>
        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </div>
    </ion-item-sliding>
  </ion-list>

  <!--  物品清单-->
  <ion-list class="second">
    <ion-list-header class="dir-header">物品</ion-list-header>
    <ion-item-sliding *ngFor="let item of currentItems">
      <div *ngIf="item.type == 1">
        <button ion-item (click)="openItem(item)">
          <ion-avatar item-start>
            <img [src]="item.profilePic" />
          </ion-avatar>
          <h2>{{item.name}}</h2>
          <h3>{{item.about}}</h3>
          <p>总额：213</p>
          <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
        </button>
        <ion-item-options>
          <button ion-button color="danger" (click)="deleteItem(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </ion-item-options>
      </div>
    </ion-item-sliding>
  </ion-list>

</ion-content>
