page-list-master {
  .dir-header{
    background-color: #f4f4f4;
  }

  .item-ios ion-avatar ion-img, .item-ios ion-avatar img {
    border-radius: 0;
    width: 50px;
    height: 50px;
  }

  .list-ios{
    margin: 0;
  }

}
